html {
    scroll-behavior: smooth;
    font-size: 16px;
}

main {
    display: grid;
    grid-template-areas: ". . ." ". items ." ". . .";
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 6% auto 100px;
    grid-column-gap: 0;
    background-color: var(--bg-color2);
}

.items {
    grid-area: items;
    background-color: var(--bg-color1);
    height: 800px;
    box-shadow: 0px 5px 15px 0px rgba(110, 54, 0, 0.15);

    display: grid;
    grid-template-areas: "filter" "boxes";
    grid-template-rows: 7% auto;
}

#filter {
    grid-area: filter;
    align-self: center;
    border-bottom: #cccccc solid 1px;
}

#filter > ul {
    display: flex;
    justify-content: center;
    margin-right: 0;
}

#filter > ul > li {
    margin: 0;
    padding: 0;
    padding-right: 2vw;
    padding-left: 2vw;
    font-family: var(--p-font-family);
    color: var(--color-4);
    font-size: 1.1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

#filter > ul > li > a {
    color: #7f7f7f;
}

.selected {
    border-bottom: var(--color-3) 3px solid;
}

.selected > a > img {
    color: black;
}

.selected > a > span {
    color: black;
    font-family: var(--h2-font-family);
}

#boxes {
    grid-area: boxes;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 19vw;
    margin-bottom: 4rem;
}

#flex-boxes {
    display: flex;
    place-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3%;
}
